#!/bin/sh
#
# (c) Copyright 2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
set -e
set -x
# Setup variables
DATA_DIR={{ cassandra_data_dir }}
NODETOOL=/usr/bin/nodetool
HOST_NAME=$(/bin/hostname)_

#Get snapshot name from command line.
if [ -z "$*"  ]
then
  echo "usage $0 <swift container to restore>"
  exit 1
fi

SNAPSHOT_NAME=$1
CONTAINER_NAME=$HOST_NAME$1

set +x
# Download the contents of the swift container the container name = hostname_cassandra-snapshot-name
swift --os-auth-url={{ FRE_AGN.consumes_KEY_API.vips.private[0].url }}/v3\
      --os-project-name={{ FRE_AGN.consumes_KEY_API.vars.keystone_backup_tenant }}\
      --os-project-domain-name=Default\
      --os-user-domain-name=Default\
      --auth-version=3\
      --os-endpoint-type=internalURL\
      --os-cacert=/etc/ssl/certs/ca-certificates.crt\
      --os-identity-api-version=3\
      download --output-dir "/" $CONTAINER_NAME
set -x
# set ownership of newley restored files
chown -R cassandra:cassandra $DATA_DIR/monasca/*

# Get a list of snapshot directories that have files to be restored.
RESTORE_LIST=$(find $DATA_DIR -type d -name $SNAPSHOT_NAME)

# use RESTORE_LIST to move snapshot files back into place of database.
for d in $RESTORE_LIST
do
  cd $d
  mv * ../..
  KEYSPACE=$(pwd | rev | cut -d '/' -f4 | rev)
  TABLE_NAME=$(pwd | rev | cut -d '/' -f3 |rev | cut -d '-' -f1)
  $NODETOOL refresh $KEYSPACE $TABLE_NAME
done
cd

# Cleanup snapshot directorys
$NODETOOL clearsnapshot $KEYSPACE
